@import url("https://fonts.googleapis.com/css2?family=K2D&display=swap");

:root {
  --primary-color: #d9b4ff;
  --secondary-color: #4800a5;
  --font: "K2D", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
}
