footer {
  background: linear-gradient(to right, #9f77e9, #2b0568);
  padding: 70px 0;
  color: #fff;
}
.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 30px;
}
.footer-contact {
  display: flex;
  gap: 6px;
}
.footer-products-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  &:hover {
    color: #d6bd30;
  }
  &:hover svg path {
    fill: #d6bd30;
  }
}
@media(max-width: 768px) {
    .footer-grid {
        grid-template-columns: 1fr;
        gap: 40px;
    }
    .footer-grid h2 {
        font-size: 32px;
    }

    .footer-grid p, .footer-grid a {
        font-size: 18px;
    }
}