.home-main-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 130px;
  background: linear-gradient(var(--primary-color), var(--secondary-color) 40%)

}

.main-page-title {
  font-family: var(--font);
  width: 100%;
  padding: 0 7%;
  text-align: start;
  margin-bottom: 10px;
  color:#fff
}
