.liberte {
  padding-top: 60px;
  background: linear-gradient(to right, #9f77e9, #2b0568);
}
.liberte-grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  overflow: hidden;
}
.liberte-info {
  flex: 1;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding-bottom: 60px;
}
.liberte-grid h2 {
  font-size: 45px;
}
.liberte-grid p {
  font-size: 20px;
  color: #f0f0f0;
}
.liberte-grid img {
  flex: 1;
  width: 100%;
  max-width: 600px;
}
@media (max-width: 1200px) {
  .liberte-grid {
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .liberte-grid h2 {
    font-size: 40px;
  }
  .liberte-grid p {
    font-size: 16px;
  }
}
@media (max-width: 430px) {
  .liberte-grid {
    gap: 10px;
  }
  .liberte-grid h2 {
    font-size: 35px;
  }
  .liberte-grid img {
    height: 400px;
    width: 400px;
    object-fit: cover;
  }
}
