.personalidade {
  display: grid;
  grid-template-areas: "img textContent";
  grid-template-columns: 1fr 1fr;
  padding: 4% 7%;
  gap: 25px;
  width: 100%;
  background-color: rgba(243, 155, 255, 0.5);
  align-items: center;
  justify-content: center;
}

.personalidade-img {
  width: 100%;
  grid-area: img;
  max-height: 400px;
  object-fit: cover;
  box-shadow: 0px 10px 25px 1px rgba(0, 0, 0, 0.322);
}

.personalidade-text {
  grid-area: textContent;
  font-family: var(--font);
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  font-size: 20pt;
  color: #fff;
  gap: 25px;
}

.personalidade-text-button {
  background-color: transparent;
  padding: 15px 30px;
  border: 1px solid white;
  border-radius: 25px;
  color: white;
  font-size: 15pt;
  cursor: pointer;
  transition: 0.5s;
}

.personalidade-text-button:hover {
  background-color: white;
  color: var(--secondary-color);
  font-weight: bold;
}

@media (max-width: 950px) {
  .personalidade {
    grid-template-columns: 1fr;
    grid-template-areas:
      "img"
      "textContent";
  }
}
