.products {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 130px 7%;
  gap: 50px;
  background-image: linear-gradient(
      rgba(46, 0, 70, 0.795) 100%,
      rgba(38, 0, 59, 0.692)
    ),
    url("../images/img_catalogo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-position-y: 40%;
}

.products h1 {
  font-family: var(--font);
  font-size: 30pt;
  color: #fff;
}

.products-content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "article1 article2 article3 article4";
  gap: 30px;
}

.products-content a img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.5s;
  overflow: hidden;
  position: absolute;
}

.products-content a {
  display: flex;
  align-items: flex-end;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  min-height: 410px;
  text-decoration: none;

}

.div-gradient {
  background: linear-gradient(rgba(0, 0, 0, 0) 60%, black);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  transition: 0.5s;
}

.info {
  gap: 15px;
  color: white;
  font-family: var(--font);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 99;
  flex-wrap: wrap;
}

.info p {
  font-size: 16pt;
  text-wrap: wrap;
}

.products-content a .info p:nth-child(2) {
  background-color: transparent;
  font-size: 13pt;
  padding: 10px 15px;
  border: 1px solid white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
  transition: 0.5s;
}

.products-content a:hover img {
  transform: scale(1.1);
}

.products-content a:hover .div-gradient {
  background-color: rgba(0, 0, 0, 0.562);
}

.products-content a:nth-child(1) {
  grid-area: article1;
}

.products-content a:nth-child(2) {
  grid-area: article2;
}

.products-content a:nth-child(3) {
  max-height: 410px;
  grid-area: article3;
}

.products-content a:nth-child(4) {
  grid-area: article4;
}

.products-content a:hover a {
  background-color: white;
  color: black;
}

@media (max-width: 1110px) {
  .products-content {
    grid-template-columns: 1fr 1fr;

    grid-template-areas:
      "article1 article2"
      "article3 article4";
  }
}

@media (max-width: 530px) {
  .products-content {
    grid-template-columns: 1fr;

    grid-template-areas:
      "article1"
      "article2"
      "article3"
      "article4";
  }
}
