.carousel-filter-grid {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-areas:
    "limpando limpando algo"
    "limpando limpando outro";
  min-height: 650px;
  padding: 0 7%;
  gap: 15px;
  padding-bottom: 60px;
}

.aside-card:nth-child(1) {
  grid-area: limpando;
}

.cuidados-card p {
  padding: 30px;
  z-index: 9999;
}

.card {
  border-radius: 20px;
  height: 100%;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  text-decoration: none;
}

.card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.5s;
  overflow: hidden;
  position: absolute;
}

.card:hover img {
  transform: scale(1.1);
}

.cuidados-card p {
  color: #fff;
  font-weight: bolder;
  font-family: var(--font);
  font-size: 27pt;
  text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000,
    1px -1px 0 #000;
}

.aside-card p {
  color: #fff;
  font-family: var(--font);
  font-size: 18pt;
  font-weight: bolder;
  background-color: rgb(5, 100, 179);
  padding-left: 30px;
  padding-right: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  z-index: 9999;

  margin-bottom: 20px;
}

@media (max-width: 770px) {
  .carousel-filter-grid {
    grid-template-areas: "limpando" "algo" "outro";
  }

  .carousel-filter-grid p {
    font-size: 15pt;
  }
}
